body {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.app {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* vertical scrollbar only visible when necessary */
    overflow-x: hidden;
    overflow-y: auto;
    color: #333333;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

header {
    margin: 0;
    background: #FFFFFF; 
    width:100%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    font-style: normal;
    /*color:#e15a1d;*/
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.instructions {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 1.5em 0;
    font-size: 1em;
    font-style: normal;
    width: 100%;
    margin: 0;
    background: #ECEAE4; 
}

.controls {
    width: 100%;
    background: #82999E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 70px;
}

.turns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 50px;
}

.advanceDiv {
    background:#A6B8BA;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.move {
    background:#F7F7F7;
    margin-left: calc(50% - 30px);
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    font-style: normal;
    background: #EFEFEF;
    border: 2px solid #FFFFFF;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.turns button {
    margin: 10px 0;
    max-width: 87px;
    text-align: center;
}

.game {
    background: #EFEAE5;
    display: flex;
    justify-content: center;
    width: 100%;
}

.gameboard {
    width: 80%;
    max-width: 50vh;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #E15A1D;
    margin: 20px 0;
}

.grid-item::before {
    /* to make height = width without affecting div content */
    content: "";
    display: block;
    margin-top: 100%;
}

.grid-item {
    width: 20%;
    height: 20%;
    background: #EFEAE5;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid  #E15A1D;
}

.robot {
    height: 80%;
    width: 80%;
    margin: 10%;
}


footer {
    background: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
}

.by {
    text-align: center;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1em;
    font-style: normal;
    width: 100%;
}

@media screen and (min-width: 768px) {

    /*---TABLET HEADER STYLES---*/
    .turns {
        max-width: 800px;
    }

   
}

@media screen and (min-width: 800px) {
    .turns{
        margin-left: calc(50% - 400px);
    }
}